---
import { Projects } from "@types";
import ProjectCard from "./ProjectCard.astro";

const { projects } = Astro.props as Projects;
---

<div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-16">
  {
    projects.map(({ title, thumbnails, liveUrl, githubUrl }) => (
      <ProjectCard
        title={title}
        thumbnails={thumbnails}
        liveUrl={liveUrl}
        githubUrl={githubUrl}
      />
    ))
  }
</div>
