---
import { ISocialMedia } from "@types";
const { title, href } = Astro.props as ISocialMedia;
---

<a
    aria-label="Social Media"
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="footer-icons"
>
    <div>
        <slot />
    </div>
    <span class="pt-2 md:pl-2 md:pt-0 font-bold">{title}</span>
</a>
