---
import { ILink } from "@types";
const { title, href, ...props } = Astro.props as ILink;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center justify-center p-3 ml-2 rounded-lg bg-slate-300 dark:bg-sky-200 hover:bg-sky-300 dark:hover:bg-indigo-300 cursor-pointer"
    {...props}
>
    <div>
        <slot />
    </div>
    {title && <span class="pl-2 font-bold">{title}</span>}
</a>
